<div class="user-detail">
    <mat-list role="list">
        <mat-list-item style="text-align: center;">
            <span class="list-title">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Nome: </span><span class="item-value-list-text-black">{{ user.nome }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Email: </span><span class="item-value-list-text-black">{{ user.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Telefone: </span><span class="item-value-list-text-black">{{ user.telefone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Endereco: </span><span class="item-value-list-text-black">{{ user.endereco }}</span>
        </mat-list-item>        
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Status: </span><span class="item-value-list-text-black">{{ user.ativo }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Funcao: </span><span class="item-value-list-text-black">{{ user.funcao }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Data cadasto: </span><span class="item-value-list-text-black">{{ user.datacadastro }}</span>
        </mat-list-item>
    </mat-list>
</div>