<div class="user-detail">
    <mat-list role="list">
        <mat-list-item style="text-align: center;">
            <span class="list-title">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Nome: </span><span class="item-value-list-text-black">Josefa Peixoto</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Email: </span><span class="item-value-list-text-black">Josefa&#64;example.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Telefone: </span><span class="item-value-list-text-black">11 32458711</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Endereco: </span><span class="item-value-list-text-black">Rua da hortas, 616, Monte Alegre, Piracicaba, Sao Paulo</span>
        </mat-list-item>        
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Status: </span><span class="item-value-list-text-black">Ativo</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Funcao: </span><span class="item-value-list-text-black">Vendedor</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="item-key-list-text-black">Data cadasto: </span><span class="item-value-list-text-black">18/09/2023</span>
        </mat-list-item>
    </mat-list>
</div>