.container{
    height: 100vh;
    display: flex;    
}

.left-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-div{
    flex-grow: 1;
}

.main-left-div{
    height: 80%;
}

.right-container{
    width: 30%;
    height: 100vh;
}